/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

:root {
  --primary-color: #246FB2;
  --gray: #707070;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0
}

a {
  text-decoration: none
}

/* Header component  */

header {
  display: flex;
  padding: 0 1rem;
  height: 120px;
  align-items: center;
  overflow: hidden;
}

header ul {
  display: flex;
  align-items: center
}

.header__logo {
  flex: 1
}

.header__right {
  flex: 4;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem
}

.header__social {
  gap: 1rem
}

.header__login {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: .5rem 1.4rem;
  font-weight: 500;
  transition: all .2s linear
}

.header__login:hover {
  background-color: var(--primary-color);
  color: white
}

header .header__nav{
  display: flex;
  justify-content: space-between;
  padding: 0
}

.header__nav a {
  color: var(--gray);
  font-size: 1.2rem
}

.header__nav a.decorated-link {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: underline;
  font-size: 1.25rem
}

.header__hamburger {
  display: block
}

/* Footer component  */

footer {
  background-color: #FAFAFA;
  padding: 1rem;
}

.footer__top {
  display: grid;
  grid-template-columns: 180px auto;
  align-items: center;
  gap: 3rem;
}

.footer__logo img {
  max-width: 100%;
}

.footer__social {
  display: flex;
  justify-content: space-around;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__nav a {
  color: #303030;
  font-size: 18px
}

/* Media queries  */

@media (min-width: 768px) {
  header {
    padding: 0 6%;
  }
  .header__hamburger {
    display: none
  }
  footer {
    padding: 3rem 6%;
  }
}