/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

:root {
  --primary-color: #246FB2;
  --gray: #707070;
  --dark-gray: #303030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0
}

a {
  text-decoration: none
}

main {
  padding: 3rem 6%
}

/* Header component  */

/* header {
  display: flex;
  padding: 0 1rem;
  height: 120px;
  align-items: center;
  overflow: hidden;
} */

/* header ul {
  display: flex;
  align-items: center
} */

/* .header__logo {
  flex: 1
} */

/* .header__right {
  flex: 4;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
} */

/* .header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem
} */

/* .header__social {
  gap: 1rem
} */

/* .header__login {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: .5rem 1.4rem;
  font-weight: 500;
  transition: all .2s linear
} */

.header__login:hover {
  background-color: var(--primary-color);
  color: white
}

header .header__nav{
  display: flex;
  justify-content: space-between;
  padding: 0
}

.header__nav a {
  color: var(--gray);
  font-size: 1.2rem
}

.header__nav a.decorated-link {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: underline;
  font-size: 1.25rem
}

.header__hamburger {
  display: block
}

/* Footer component  */

/* footer {
  background-color: #FAFAFA;
  padding: 1rem;
} */
/* 
.footer__top {
  display: grid;
  grid-template-columns: 180px auto;
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid var(--dark-gray);
  padding-bottom: 3rem;
} */

/* .footer__logo img {
  max-width: 100%;
} */

/* .footer__social {
  display: flex;
  justify-content: space-around;
} */

/* .footer__nav {
  display: flex;
  justify-content: space-around;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__nav a {
  color: var(--dark-gray);
  font-size: 18px
} */

/* .footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem
}

.footer__bottom div {
  display: flex;
  gap: 4rem;
}

.footer__bottom a {
  color: var(--dark-gray);
  text-decoration: underline
} */

/* Home section 1  */

.home__s1 {
  height: 460px;
  width: 100%;
  position: relative;
}

.home__s1 > div {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
}

.home__s1--title {
  color: white
}

.home__s1--btn {
  background-color: #F8A80D;
  color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem
}

.home__s1--img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
}

.home__s1::after {
  content: "";
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.home__s2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 10%;
  gap: 2rem;
}

.home__s2__images {
  position: relative;
}

.home__s2__images img {
  width: 50%;
  position: absolute;
}

.home__s2__images img:nth-child(1) {
  top: 0;
  left: 0
}
.home__s2__images img:nth-child(2) {
  bottom: 0;
  right: 0
}

.home__s2__text p {
  max-width: 600px;
  text-align: right;
  float: right;
  color: #626262;
}

.home__s2--title {
  position: relative; 
  padding-right: 1rem;
  color: #3C3C3C;
  text-align: right;
}

.home__s2--title::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 5px;
  height: 100%;
  background: var(--primary-color);
}

.home__s3 {
  background-color: var(--primary-color);
  height: 360px;
  padding: 3rem 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home__s3 div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home__s3--title {
  color: white
}

.home__s3--link {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
  color: white;
  transition: .2s
}

.home__s3--link:hover {
  color: var(--primary-color);
  background-color: white
}

.home4 {
  padding: 3rem 6%;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.home4__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home4__top div {
  position: relative;
  padding-left: 1rem;
}

.home4__top h3, .home4__top p {
  margin: 0;
  padding: 0
}

.home4__top a {
  background-color: transparent;
  color: #F8A80D;
  border: 1px solid #F8A80D;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  transition: .2s
}

.home4__top a:hover {
  background-color: #F8A80D;
  color: white
}

.home4__top div::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
}

.home4__middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* .home4__middle .grid-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.home4__middle .grid-item h4 {
  color: var(--dark-gray);
  font-size: 18px;
}

.home4__middle .grid-item p {
  color: var(--dark-gray);
  font-size: 14px;
  width: 90%
}

.home4__middle .grid-item a {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: .8rem 2.7rem;
} */

.home4__middle .grid-item:nth-of-type(1) a {
  background-color: var(--primary-color);
  color: white;
}

.home4__bottom {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 3rem
}

/* About component  */

/* .about-main {
  padding: 3rem 6%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative; 
} */

/* .about-main2 p {
  width: 50%;
  float: right
}

.about-main3 p {
  width: 50%;
  float: left;
} */

/* Tests page  */

.tests-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 1rem 2.5rem;
  background-color: transparent;
  transition: .3s;
}

.tests-link:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Media queries  */

@media (min-width: 768px) {
  header {
    padding: 0 6%;
  }
  .header__hamburger {
    display: none
  }
  footer {
    padding: 3rem 6%;
  }
}